
.form-row {
    margin-bottom: 1rem;
}

.form.label, .form-control {
    display: block;
}

.form-label {
    margin-bottom: .25rem;
}

.form-control {
    width: 100%;
    border-radius: .125rem;
    border: 1px solid navy;
}

.form-control:disabled {
    background-color: cyan;
}

*:required {
    background-color: khaki;
}

/* ESTE SELECTOR SE USA CUANDO LOS DOS ELEMENTOS ESTAN AL MISMO NIVEL. */
input:not(:checked) ~ label {
    color: gray;
}
form {
    width: 50%;
}