
li {
    color: cornflowerblue /*!important;*/, /*NO ES RECOMENDABLE SE CONSIDERA UNA MALA PRACTICA.*/
}

ul li { /*SE APLICA ESTA YA QUE ES MAS ESPECIFICO.*/
    color: darkcyan;
}

.vinotinto {
    color: darkred;
}

#azul {
    color: darkblue;
}

ul li.vinotinto span, 
h1 {
    color: deeppink;
}

p > a { /*CAMBIO ESTILO EN HIJOS DIRECTOS.*/
    color: deepskyblue;
}

p + p { /*HERMANOS ADYACENTES.*/
    color: crimson;
}

h1 ~ p { /*ELEMENTOS DEL MISMO NIVEL.*/
    color: cadetblue;
}

/*PSEUDOCLASES*/
a {
    color: blueviolet;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    background-color: cornflowerblue;
}

table{
    width: 50%;
}

tr, td {
    border: 1px solid black;
}

tr:nth-child(odd){
    background-color: aqua;
}

tr:nth-child(even){
    background-color: grey;
}

p:not(.miClase){
    color: darkorchid;
}

p::first-letter{
    font-size: 22px;
    border: 3px solid red;
}

p:before{
    font-size: 20px;
    margin-right: 50px;
    display: inline-block;
    content: "a";
}

p:after{
    width: 5px;
    height: 5px;
    margin-left: 5px;
    display: inline-block;
    content: "";
    background-color: blue;
}