.container {
    font-family: sans-serif;
    width: 80%;
    margin-left: 10rem;
    margin-right: 10rem;
}

.th-header {
    background-color: black;
    color: whitesmoke;
}

.nav-services {
    background-color: black;
}

.nav-services li a {
    color: white;
    text-decoration: none;
    padding: .25rem;
}

.nav-services a {
    text-transform: uppercase;
    display: inline-block;
    
}

.nav-services ul li {
    display: inline-block;
}

.nav-services ul {
    text-align: center;
    text-decoration: none;
}

.nav-socialmedia {
    background-color: black;
    color: whitesmoke;
}

.nav-socialmedia li {
    display: inline-block;
}

.form-row {
    margin-bottom: 1rem;
}


.form-label, .form-control {
    display: block;
}

.form-label {
    margin-bottom: .25rem;
}

.form-control {
    width: 100%;
    border-radius: .125rem;
    border: 1px solid navy;
    padding: .3rem;
}

.button-submit {
    background-color: green;
    color: white;
    border-radius: 2px;
}

.button-reset {
    background-color: red;
    color: white;
}

body {
    font-family: serif;
    margin: 0;
}

header {
    font-family: sans-serif;
}

table, tr {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

h1, h2 {
    color: navy;
}

footer {
    margin-top: 10px;
    text-align: center;
}