
.bg {
    height: 30rem;
    background-color: cyan;
    margin-bottom: 1rem;
}

.bg-1 {
    background-image: url('../images/bg1.jpg');
}

.bg-2 {
    background-image: url('../images/bg2.jpg');
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-x-repeat {
    background-repeat: repeat-x;
}

.bg-center{
background-position: center center;
}

.bg-center-y {
    background-position: 0 center;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-gradiente {
    background-image: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,181,1) 35%, rgba(0,212,255,1) 100%);
}